.Results-component {
    height: auto;
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .Search-Button{
    color: #572EE5;
    font-family: Roboto;
    border-style: none;
    font-size: 24px;
    text-align: center;
  }
  .Results-component.ligth{
    
    background-color: #e7e7e7;
  }
  .Results-component.dark{
    background-color:#212121;
    ;
  }
