.Header.dark{
    background: #373737;
}
.Header-Button.dark{
    background: #373737;
    color: #fff;
    border: 1px solid #fff;
}
.Gifos-logo-name.dark {
    color: #fff;
}
.Header.dark,.Header-Button.dark,.Gifos-logo-name.dark{
    transition-duration: 1s;
}