/*
styles component CardGIFO
*/
.CardGifo {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    cursor: pointer;
}

.GifCardImg {
    width: 250px;
    height: 250px;
    margin: 5%;
}

/*
responsive
*/
@media (max-width:768px) {
    .CardGifo {
        margin: 0.5rem;
    }

    .GifCardImg {
        width: 120px;
        height: 130px;

    }

}