.AutoComplete-Component {
    z-index: 1;
    background-color: #fbfbfb;
    width: 32rem;
    display: flex;
    position: relative;
    right: 1.78rem;
    cursor: pointer;

}

.AutoComplete-Component:hover {
    text-decoration: underline #572EE5;
}


.AutoComplete-P.ligth {
    color: #572EE5;
}

.AutoComplete-P.dark {
    color: #fff;
}

.AutoComplete-Component.dark {
    background-color: #3f3e3e;
}

@media (max-width:768px){
    .AutoComplete-Component{
        height: 1.5rem;
        width: 6rem;
        
       z-index: 2;
       gap: 0.2rem;

  
  }
  .AutoComplete-P{
      font-size: 0.7rem;
  }
  
}