.CardGifo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2.938rem;
    cursor: pointer;
    
}

.GifCardImg {
    width: 250px;
    height: 250px;

}