/*DarkMode Search Component*/
.Search-component.dark{
    background-color: #373737;
    
  }
  .Title-Search.dark,.Search-Results.dark{
      color:#fff;
  }
.Search-button.dark{
   
    border: 1px solid #fff;
  }
  .SearchBAR.dark{
    background-color: #373737;
    border: 1px solid #fff;
    color:#fff;
  }
  .Search-component.dark .Title-Search.dark,.SearchBAR.dark,.Search-button.dark{
      transition-duration: 800ms;
  }
  